.product-form-container {
  width: 100%;
  padding: 40px 25px;
  box-sizing: border-box;

  .field-container {
    width: 100%;
    margin-bottom: 20px;

    .product-image {
      width: 120px;
      height: 120px;
      background-color: var(--light-gray);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 53px;

      img {
        object-fit: contain;
      }
    }

    .product-label {
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }

  .date-time-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 900px) {
  .product-form-container {
    width: 100%;
    padding: 100px 25%;
    box-sizing: border-box;

    .field-container {
      width: 100%;
      margin-bottom: 20px;

      .product-image {
        width: 150px;
        height: 150px;
      }

      .product-label {
        margin-top: 10px;
        margin-bottom: 5px;
      }
    }

    .date-time-container {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
