.login-page-wrapper {
  .login-container {
    padding: 40px 25px;

    .auth-btn-container {
      width: 100%;
    }

    .form-wrapper {
      h3 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
      }

      .field-container {
        width: 100%;
        margin-bottom: 20px;
      }

      .prompt-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 12px;
        color: var(--mute-text);
      }

      .auto-icons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-top: 20px;

        a {
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
        }

        .auto-icons-box {
          width: 40px;
          height: 40px;
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
          background-color: var(--white);
          border-radius: 50%;

          img {
            width: 60%;
            height: 60%;
          }
        }
      }

      .sign-up {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        gap: 8px;

        a {
          color: var(--black);
          text-decoration: none;
          font-weight: bold;
        }

        span {
          color: var(--mute-text);
        }
      }
    }

    .registration-successful-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;

      img {
        width: 40%;
        height: auto;
      }

      .body-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0;
        width: 100%;
      }

      h3 {
        font-size: 3rem;
        margin-bottom: 0;
        margin-top: 0;
        text-align: center;
        color: var(--primary-dark);
      }

      p {
        font-size: 1.2rem;
        text-align: center;
        color: var(--mute-text);
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .login-page-wrapper {
    .login-container {
      padding: 300px 15%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .form-wrapper {
        padding: 0 30px;
        width: 50%;
        margin-top: 60px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h3 {
          font-size: 24px;
          text-align: center;
          color: var(--primary);
        }

        p {
          font-size: 16px;
        }

        .field-container {
          margin-bottom: 20px;
          width: 70%;
        }

        .auto-icons {
          margin-top: 40px;

          .auto-icons-box {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .sign-up {
          margin-top: 30px;
          margin-bottom: 40px;
        }
      }

      .auth-btn-container {
        width: 130px;
      }

      .element-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5%;

        img {
          width: 220px;
          height: auto;
        }
      }

      .element-wrapper.forgot-password-element {
        height: auto;
      }

      .registration-successful-container {
        img {
          width: 30%;
          margin-bottom: 30px;
        }

        .body-content {
          align-items: center;
        }
      }
    }
  }
}
